* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hero-section {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#img-div {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}
#title {
  font-size: 3.5em;
  text-align: center;
  color: white;
}
#image {
  width: 100%;
  max-width: 350px;
  margin-top: 50px;
  height: auto;
}
.hero-caption {
  width: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
}
.hero-sub-caption {
  font-size: 1.5em;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.best-quotes {
  margin: 25px auto;
  max-width: 400px;
}
.best-quotes .quotes {
  font-size: 2em;
}
.best-quotes .caption {
  font-size: 1.2em;
  text-align: center;
}
.section-header {
  text-align: center;
  margin-bottom: 25px;
  color: white;
}
#tribute-info {
  background-color: #24292d;
  min-height: 100vh;
  padding: 80px 15px;
}
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #2f363e;
  left: 7px;
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: 0;
  text-align: left;
}
.timeline-item:nth-child(odd),
.timeline-item:nth-child(even) {
  padding-left: 37px;
}
.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #eaa023;
  position: absolute;
  left: 0;
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 18px;
  color: #eaa023;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: #2f363e;
  padding: 30px;
  border-radius: 5px;
}
.timeline-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.timeline-content p {
  color: #c8c8c8;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}
.footer p {
  font-size: 20px;
}
.footer a {
  text-decoration: none;
  color: #b961ff;
}
@media only screen and (min-width: 1024px) {
  .hero-section {
    min-height: 100vh;
  }
  #title {
    font-size: 4.5em;
  }
  .hero-caption {
    width: 100%;
    font-size: 3em;
  }
  .hero-sub-caption {
    font-size: 2em;
    text-align: center;
  }
  #image {
    width: 100%;
    max-width: 75vh;
    height: auto;
    position: absolute;
    bottom: 0;
  }
  .best-quotes {
    margin: 50px auto;
  }
  .best-quotes .quotes {
    font-size: 2.5em;
  }
  .best-quotes .caption {
    font-size: 1.8em;
  }
  .section-header {
    margin-bottom: 20px;
  }
  .timeline-items::before {
    left: calc(50% - 1px);
  }
  .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
  }

  .timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
  }
  .timeline-dot {
    left: calc(50% - 8px);
  }
  .footer p {
    font-size: 26px;
  }
}
